<!DOCTYPE html>
<html>

<head>
    <title>測試測試</title>
    <link rel="stylesheet" href="static/lib/bootstrap.min.css">
    
</head>
<body class="container py-3">
    <form action="hw" method="POST">
        <label class="col-form-label">輸入甜點名稱</label>
        <input type="text" class="form-control" name="food_name">
        <button class="btn btn-primary mt-1">GOGO</button>
    </form>
</body>

<script src="static/lib/jquery.min.js"></script>
<script src="static/lib/bootstrap.min.js"></script>
</html>